<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tokbox" version="1.0">
    <name>TokBox</name>

	<description>
	    Interactive video, voice and messaging application developed from Fitbase Team.
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=4.0.0"/>
	</engines>

	<js-module src="www/tokbox.js" name="TokBox">
		<clobbers target="window.plugin.tokbox" />
	</js-module>
    

	<!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TokBox">
                <param name="android-package" value="com.fitbase.TokBox.TokBox"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-feature android:name="android.hardware.camera" android:required="true" />
			<uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.fitbase.TokBox.LiveVideoActivity" android:theme="@style/AppTheme" android:configChanges="keyboardHidden|keyboard|screenSize|locale" android:screenOrientation="portrait"></activity>
        </config-file>

		<framework src="plugin.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/TokBox.java" target-dir="src/com/fitbase/TokBox" />
		<source-file src="src/android/OnDragTouchListener.java" target-dir="src/com/fitbase/TokBox"/>
		<source-file src="src/android/Participant.java" target-dir="src/com/fitbase/TokBox"/>
		<source-file src="src/android/ParticipantsAdapter.java" target-dir="src/com/fitbase/TokBox"/>
		<source-file src="src/android/Util.java" target-dir="src/com/fitbase/TokBox"/>
		<source-file src="src/android/RecyclerTouchListener.java" target-dir="src/com/fitbase/TokBox"/>
    	<source-file src="src/android/LiveVideoActivity.java" target-dir="src/com/fitbase/TokBox"/>
	   	<source-file src="src/android/LiveVideoActionBarFragment.java" target-dir="src/com/fitbase/TokBox"/>
	 	<source-file src="src/android/ParticipantsListAdapter.java" target-dir="src/com/fitbase/TokBox"/>
		<source-file src="src/android/OnDoubleClickListener.java" target-dir="src/com/fitbase/TokBox"/>
		<source-file src="src/android/ItemClickSupport.java" target-dir="src/com/fitbase/TokBox"/>






		
		<!-- <source-file src="src/android/Room.java" target-dir="src/com/fitbase/TokBox"/> -->
		
		
		
		<resource-file src="src/android/layouts/activity_main.xml" target="res/layout/activity_main.xml"/>	
		<resource-file src="src/android/layouts/screen_2.xml" target="res/layout/screen_2.xml"/>	
		<resource-file src="src/android/layouts/screen_3.xml" target="res/layout/screen_3.xml"/>	
		<resource-file src="src/android/layouts/screen_4.xml" target="res/layout/screen_4.xml"/>
	   <resource-file src="src/android/layouts/grid_item.xml" target="res/layout/grid_item.xml"/>
	   <resource-file src="src/android/layouts/activity_live_video.xml" target="res/layout/activity_live_video.xml"/>
	   <resource-file src="src/android/layouts/live_video_actionbar_fragment.xml" target="res/layout/live_video_actionbar_fragment.xml"/>
	   <resource-file src="src/android/layouts/participants_grid_item.xml" target="res/layout/participants_grid_item.xml"/>
	   <resource-file src="src/android/layouts/participants_list.xml" target="res/layout/participants_list.xml"/>
	  <resource-file src="src/android/layouts/bottom_sheet.xml" target="res/layout/bottom_sheet.xml"/>
	  <resource-file src="src/android/layouts/participants_video_screen.xml" target="res/layout/participants_video_screen.xml"/>






	   
	   
		<resource-file src="src/android/layouts/main_menu.xml" target="res/menu/main_menu.xml"/>

		<resource-file src="src/android/layouts/colors.xml" target="res/values/colors.xml"/>
		<resource-file src="src/android/layouts/dimens.xml" target="res/values/dimens.xml"/>
		<resource-file src="src/android/layouts/strings.xml" target="res/values/strings.xml"/>
		<resource-file src="src/android/layouts/styles.xml" target="res/values/styles.xml"/>

		<resource-file src="src/android/images/drawable/bckg_audio_only.xml" target="res/drawable/bckg_audio_only.xml"/>
		<resource-file src="src/android/images/drawable/bckg_icon.xml" target="res/drawable/bckg_icon.xml"/>
		<resource-file src="src/android/images/drawable/end_call_button.xml" target="res/drawable/end_call_button.xml"/>
		<resource-file src="src/android/images/drawable/gradient_audionly.xml" target="res/drawable/gradient_audionly.xml"/>
		<resource-file src="src/android/images/drawable/avatar_borders.xml" target="res/drawable/avatar_borders.xml"/>
		<resource-file src="src/android/images/drawable/textview_bckd.xml" target="res/drawable/textview_bckd.xml"/>
		<resource-file src="src/android/images/drawable/paused_video_icon_bckg.xml" target="res/drawable/paused_video_icon_bckg.xml"/>
		<resource-file src="src/android/images/drawable/publisher_bckg.xml" target="res/drawable/publisher_bckg.xml"/>
		<resource-file src="src/android/images/drawable/recycler_bacg.xml" target="res/drawable/recycler_bacg.xml"/>
		<resource-file src="src/android/images/drawable/toolbar_gradient.xml" target="res/drawable/toolbar_gradient.xml"/>
		<resource-file src="src/android/images/drawable/videoicon_backg.xml" target="res/drawable/videoicon_backg.xml"/>
		<resource-file src="src/android/images/drawable/gradient_grey_audionly.xml" target="res/drawable/gradient_grey_audionly.xml"/>
		<resource-file src="src/android/images/drawable/stabletoaster.xml" target="res/drawable/stabletoaster.xml"/>
		<resource-file src="src/android/images/drawable/end_call_button_backg.xml" target="res/drawable/end_call_button_backg.xml"/>
		<resource-file src="src/android/images/drawable/audio_icon_backg.xml" target="res/drawable/audio_icon_backg.xml"/>
		<resource-file src="src/android/images/drawable/video_icon_backg.xml" target="res/drawable/video_icon_backg.xml"/>
		<resource-file src="src/android/images/drawable/recycler_mute_icon_bckg.xml" target="res/drawable/recycler_mute_icon_bckg.xml"/>
		<resource-file src="src/android/images/drawable/participant_border_white.xml" target="res/drawable/participant_border_white.xml"/>
		<resource-file src="src/android/images/drawable/gradient_light_audionly.xml" target="res/drawable/gradient_light_audionly.xml"/>
		<resource-file src="src/android/images/drawable/live_video_menu_item.xml" target="res/menu/live_video_menu_item.xml"/>
		<resource-file src="src/android/images/drawable/trainer_border.xml" target="res/drawable/trainer_border.xml"/>
		<resource-file src="src/android/images/drawable/toaster.xml" target="res/drawable/toaster.xml"/>












		

		<resource-file src="src/android/images/drawable-hdpi/avatar.png" target="res/drawable-hdpi/avatar.png"/>
		<resource-file src="src/android/images/drawable-hdpi/camera.png" target="res/drawable-hdpi/camera.png"/>
		<resource-file src="src/android/images/drawable-hdpi/hang_up.png" target="res/drawable-hdpi/hang_up.png"/>
		<resource-file src="src/android/images/drawable-hdpi/mic_icon.png" target="res/drawable-hdpi/mic_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/muted_mic_icon.png" target="res/drawable-hdpi/muted_mic_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/no_video_icon.png" target="res/drawable-hdpi/no_video_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/video_icon.png" target="res/drawable-hdpi/video_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/audio.png" target="res/drawable-hdpi/audio.png"/>
		<resource-file src="src/android/images/drawable-hdpi/no_audio.png" target="res/drawable-hdpi/no_audio.png"/>
		<resource-file src="src/android/images/drawable-hdpi/ic_border_all_white_24dp.png" target="res/drawable-hdpi/ic_border_all_white_24dp.png"/>
		<resource-file src="src/android/images/drawable-hdpi/mic_green_icon.png" target="res/drawable-hdpi/mic_green_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/mute_mic.png" target="res/drawable-hdpi/mute_mic.png"/>
		<resource-file src="src/android/images/drawable-hdpi/muted_mic_red_icon.png" target="res/drawable-hdpi/muted_mic_red_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/participants_close.png" target="res/drawable-hdpi/participants_close.png"/>
		<resource-file src="src/android/images/drawable-hdpi/mute_all_off.png" target="res/drawable-hdpi/mute_all_off.png"/>
		<resource-file src="src/android/images/drawable-hdpi/participants.png" target="res/drawable-hdpi/participants.png"/>
		<resource-file src="src/android/images/drawable-hdpi/swipe_cam.png" target="res/drawable-hdpi/swipe_cam.png"/>
		<resource-file src="src/android/images/drawable-hdpi/live_session_count_icon.png" target="res/drawable-hdpi/live_session_count_icon.png"/>
		<resource-file src="src/android/images/drawable-hdpi/mic_muted.png" target="res/drawable-hdpi/mic_muted.png"/>



		

		
		

		<resource-file src="src/android/images/drawable-mdpi/avatar.png" target="res/drawable-mdpi/avatar.png"/>
		<resource-file src="src/android/images/drawable-mdpi/camera.png" target="res/drawable-mdpi/camera.png"/>
		<resource-file src="src/android/images/drawable-mdpi/hang_up.png" target="res/drawable-mdpi/hang_up.png"/>
		<resource-file src="src/android/images/drawable-mdpi/mic_icon.png" target="res/drawable-mdpi/mic_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/muted_mic_icon.png" target="res/drawable-mdpi/muted_mic_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/no_video_icon.png" target="res/drawable-mdpi/no_video_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/video_icon.png" target="res/drawable-mdpi/video_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/audio.png" target="res/drawable-mdpi/audio.png"/>
		<resource-file src="src/android/images/drawable-mdpi/no_audio.png" target="res/drawable-mdpi/no_audio.png"/>
		<resource-file src="src/android/images/drawable-mdpi/ic_border_all_white_24dp.png" target="res/drawable-mdpi/ic_border_all_white_24dp.png"/>
		<resource-file src="src/android/images/drawable-mdpi/mic_green_icon.png" target="res/drawable-mdpi/mic_green_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/mute_mic.png" target="res/drawable-mdpi/mute_mic.png"/>
		<resource-file src="src/android/images/drawable-mdpi/muted_mic_red_icon.png" target="res/drawable-mdpi/muted_mic_red_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/participants_close.png" target="res/drawable-mdpi/participants_close.png"/>
		<resource-file src="src/android/images/drawable-mdpi/mute_all_off.png" target="res/drawable-mdpi/mute_all_off.png"/>
		<resource-file src="src/android/images/drawable-mdpi/participants.png" target="res/drawable-mdpi/participants.png"/>
		<resource-file src="src/android/images/drawable-mdpi/grid.png" target="res/drawable-mdpi/grid.png"/>
		<resource-file src="src/android/images/drawable-mdpi/swipe_cam.png" target="res/drawable-mdpi/swipe_cam.png"/>
		<resource-file src="src/android/images/drawable-mdpi/options.png" target="res/drawable-mdpi/options.png"/>
		<resource-file src="src/android/images/drawable-mdpi/live_session_count_icon.png" target="res/drawable-mdpi/live_session_count_icon.png"/>
		<resource-file src="src/android/images/drawable-mdpi/mic_muted.png" target="res/drawable-mdpi/mic_muted.png"/>





		 

		<resource-file src="src/android/images/drawable-xhdpi/avatar.png" target="res/drawable-xhdpi/avatar.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/camera.png" target="res/drawable-xhdpi/camera.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/hang_up.png" target="res/drawable-xhdpi/hang_up.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/mic_icon.png" target="res/drawable-xhdpi/mic_icon.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/no_video_icon.png" target="res/drawable-xhdpi/no_video_icon.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/video_icon.png" target="res/drawable-xhdpi/video_icon.png"/>
			<resource-file src="src/android/images/drawable-xhdpi/audio.png" target="res/drawable-xhdpi/audio.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/no_audio.png" target="res/drawable-xhdpi/no_audio.png"/>
			<resource-file src="src/android/images/drawable-xhdpi/ic_border_all_white_24dp.png" target="res/drawable-xhdpi/ic_border_all_white_24dp.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/gallery_icon.png" target="res/drawable-xhdpi/gallery_icon.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/mic_green_icon.png" target="res/drawable-xhdpi/mic_green_icon.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/mute_mic.png" target="res/drawable-xhdpi/mute_mic.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/muted_mic_red_icon.png" target="res/drawable-xhdpi/muted_mic_red_icon.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/participants_close.png" target="res/drawable-xhdpi/participants_close.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/mute_all_off.png" target="res/drawable-xhdpi/mute_all_off.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/participants.png" target="res/drawable-xhdpi/participants.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/grid.png" target="res/drawable-xhdpi/grid.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/swipe_cam.png" target="res/drawable-xhdpi/swipe_cam.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/options.png" target="res/drawable-xhdpi/options.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/live_session_count_icon.png" target="res/drawable-xhdpi/live_session_count_icon.png"/>
		<resource-file src="src/android/images/drawable-xhdpi/mic_muted.png" target="res/drawable-xhdpi/mic_muted.png"/>





		<resource-file src="src/android/images/drawable-xxhdpi/avatar.png" target="res/drawable-xxhdpi/avatar.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/camera.png" target="res/drawable-xxhdpi/camera.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/hang_up.png" target="res/drawable-xxhdpi/hang_up.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/mic_icon.png" target="res/drawable-xxhdpi/mic_icon.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/muted_mic_icon.png" target="res/drawable-xxhdpi/muted_mic_icon.png"/>
        <resource-file src="src/android/images/drawable-xxhdpi/no_video_icon.png" target="res/drawable-xxhdpi/no_video_icon.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/video_icon.png" target="res/drawable-xxhdpi/video_icon.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/audio.png" target="res/drawable-xxhdpi/audio.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/no_audio.png" target="res/drawable-xxhdpi/no_audio.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/ic_border_all_white_24dp.png" target="res/drawable-xxhdpi/ic_border_all_white_24dp.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/mic_green_icon.png" target="res/drawable-xxhdpi/mic_green_icon.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/mute_mic.png" target="res/drawable-xxhdpi/mute_mic.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/muted_mic_red_icon.png" target="res/drawable-xxhdpi/muted_mic_red_icon.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/participants_close.png" target="res/drawable-xxhdpi/participants_close.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/mute_all_off.png" target="res/drawable-xxhdpi/mute_all_off.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/participants.png" target="res/drawable-xxhdpi/participants.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/grid.png" target="res/drawable-xxhdpi/grid.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/swipe_cam.png" target="res/drawable-xxhdpi/swipe_cam.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/options.png" target="res/drawable-xxhdpi/options.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/live_session_count_icon.png" target="res/drawable-xxhdpi/live_session_count_icon.png"/>
		<resource-file src="src/android/images/drawable-xxhdpi/mic_muted.png" target="res/drawable-xxhdpi/mic_muted.png"/>




		 

	 
		<resource-file src="src/android/images/drawable-xxxhdpi/camera.png" target="res/drawable-xxxhdpi/camera.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/hang_up.png" target="res/drawable-xxxhdpi/hang_up.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/mic_icon.png" target="res/drawable-xxxhdpi/mic_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/muted_mic_icon.png" target="res/drawable-xxxhdpi/muted_mic_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/no_video_icon.png" target="res/drawable-xxxhdpi/no_video_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/video_icon.png" target="res/drawable-xxxhdpi/video_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/audio.png" target="res/drawable-xxxhdpi/audio.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/no_audio.png" target="res/drawable-xxxhdpi/no_audio.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/mic_green_icon.png" target="res/drawable-xxxhdpi/mic_green_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/mute_subscriber_video.png" target="res/drawable-xxxhdpi/mute_subscriber_video.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/mute_mic.png" target="res/drawable-xxxhdpi/mute_mic.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/muted_mic_red_icon.png" target="res/drawable-xxxhdpi/muted_mic_red_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/participants_close.png" target="res/drawable-xxxhdpi/participants_close.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/mute_all_off.png" target="res/drawable-xxxhdpi/mute_all_off.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/participants.png" target="res/drawable-xxxhdpi/participants.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/swipe_cam.png" target="res/drawable-xxxhdpi/swipe_cam.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/options.png" target="res/drawable-xxxhdpi/options.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/live_session_count_icon.png" target="res/drawable-xxxhdpi/live_session_count_icon.png"/>
		<resource-file src="src/android/images/drawable-xxxhdpi/mic_muted.png" target="res/drawable-xxxhdpi/mic_muted.png"/>





		 
		<resource-file src="src/android/images/drawable-xxxhdpi/ic_border_all_white_24dp.png" target="res/drawable-xxxhdpi/ic_border_all_white_24dp.png"/>
		<resource-file src="src/android/images/mipmap-ldpi/avatar.png" target="res/mipmap/avatar.png"/>
    </platform>


 

</plugin>
